.background-color{
    background-color: #272729
}

.background-color-lighter{
    background-color: #333336
}

.base-text-color{
    color: #A09FA3
}

.gray-text-color{
    color: #A09FA3
}

.yellow-text-color{
    color: #896B29
}

